<html>
  <head>
  <script type="text/javascript" src="/js/scripts.js"></script>
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
  <title>Tic Tac Toe</title>
  </head>
  <body>
    <center>
      <%= yield %>

      <br><p id="error_out" class="errormsg"></p>
    </center>
  </body>
</html>