<html>
  <head>
  <script type="text/javascript" src="/js/tictac.js"></script>
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
  <title>Tic Tac Toe</title>
  </head>
  <body>
    <center>
      <%= yield %>
    </center>
  </body>
</html>